{{ block "accounts-list" .}}
<h1>Employees</h1>
{{ range . }} {{if eq .AccountType "Employee"}}
<div class="m-2 bg-sky-500 p-2 border-2 rounded-md border-black w-1/4">
	<ul class="flex-row">
		<li class="font-bold">
			Name: <span class="text-white font-normal">{{.FullName}}</span>
		</li>
		<li class="font-bold">
			Email: <span class="text-white font-normal">{{.Email}}</span>
		</li>
		<li class="font-bold">
			Role: <span class="text-white font-normal">{{.Role}}</span>
		</li>
		<li class="font-bold">
			Type:
			<span class="text-white font-normal"> {{.AccountType}} </span>
		</li>
		<li class="font-bold">
			Department:
			<span class="text-white font-normal">{{.DepartmentName}}</span>
		</li>
	</ul>
</div>
{{ end }} {{ end }}
