<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TrinityHR</title>
	</head>
	<body class="block">
		<h1 class="text-4xl text-center">Welcome To Your Dashboard</h1>
		<ul class="mx-auto mt-5 text-center">
			<li>
				<button hx-get="/accounts/create" hx-target="#target" hx-swap="innerHTML">
					Create an account
				<button/>
			</li>
			<li>
				<button hx-get="/accounts" hx-target="#target" hx-swap="innerHTML">
					Get all accounts
				<button/>
			</li>
			<li>
				<button hx-get="/departments/create" hx-target="#target" hx-swap="innerHTML">
					Create a department
				<button/>
			</li>
		</ul>

		<div id="target"></div>

		<script
			src="https://unpkg.com/htmx.org@1.9.5"
			integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.tailwindcss.com"></script>
	</body>
</html>
