.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	background-color: var(--mantine-color-body);
	width: 50%;
	margin: 0 auto;
}

.avatar {
	border: rem(2px) solid var(--mantine-color-body);
}

.logo {
	margin: 100px;
}
