.header {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: rem(56px);
	background-color: var(--mantine-color-body);
	border-bottom: rem(1px) solid var(--mantine-color-black);
}

.inner {
	height: rem(56px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
	padding: rem(8px) rem(12px);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-black));
	background-color: var(--mantine-color-white);
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.link:hover {
	background-color: var(--mantine-color-red-5);
	color: var(--mantine-color-white);
	transition: all 0.25s ease-in;
}

.linkActive {
	display: block;
	line-height: 1;
	padding: rem(8px) rem(12px);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-black));
	background-color: var(--mantine-color-white);
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.active {
	background-color: var(--mantine-color-cyan-5);
	color: var(--mantine-color-white);
}

.logoutBtn {
	background-color: var(--mantine-color-red-5);
}

/* .logoutBtn:hover {
	background-color: var(mantine-color);
} */
